<!-- <div class="container pt-3">
  <%= link_to "all groups", groups_path, class: "btn btn-danger" %>
  <h1><%= @group.name %></h1>
  <br>
  <h3>Admin: <%= @group.user.first_name %></h3>
  <br>
  <h3>Group Members</h3>
  <% @users.each do |user| %>
    <h4><%= user.first_name %></h4>
  <% end %>
  <% @events.each do |event| %>
    <h3><%= link_to event.name, group_event_path(event), class: "btn btn-danger" %></h3>
  <% end %>
  <%= link_to "Add group members", new_group_usergroup_path(@group), class: "btn btn-danger" %>
  <%= link_to "Create new group event", new_group_event_path(@group), class: "btn btn-danger" %>
  <% if @group.user == current_user %>
    <%= link_to "Edit group name", edit_group_path(@group), class: "btn btn-danger" %>
    <%= link_to "Destroy Group", group_path(@group), method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
-->

<div class="container mb-5 mt-3">
  <div class="row container">
    <div class="col-12 col-xl-4">
      <div class="card-trip pb-3">
        <% if @group.photo.attached? %>
          <%= cl_image_tag @group.photo.key %>
        <% else %>
          <%= image_tag "background.jpg" %>
        <% end %>
        <div class="card-trip-infos">
          <% if @group.user.photo.attached? %>
            <%= cl_image_tag @group.user.photo.key, class: "card-trip-user avatar-bordered" %>
          <% else %>
            <img src="<%= asset_path "card-style-groups3.jpg" %>" alt=""class="card-trip-user avatar-bordered">
          <% end %>
        </div>
          <h3 class="text-center mt-3 larger-text"><%= @group.name %></h3>
          <div class="mt-2">
            <h6 class="text-center smaller-text">Admin: <%= @group.user.first_name.capitalize %></h6>
            <h6 class="text-center smaller-text"><%= UserGroup.where('group_id = ?', @group.id).count %> • members</h6>
            <div class="d-flex justify-content-center mt-3">
              <%= link_to edit_group_path(@group) do  %>
                <i class="far fa-edit mx-3" style="color: black; font-size: 20px;"></i>
              <% end %>
              <%= link_to group_path(@group), method: :delete do  %>
                <i class="fas fa-trash-alt mx-3" style="color: black; font-size: 20px;"></i>
              <% end %>
            </div>
          </div>
      </div>
      <div class="card-trip mt-3 p-3 mb-3" style=" height: auto;">
        <h5 class="p-3 larger-text">Members</h5>
        <div style="height: 200px; overflow: scroll;">
          <% @users.sort_by { |u| u.created_at }.reverse.each do |user| %>
            <h6 class="m-2 d-flex align-items-center">
              <div>
                <% if user.photo.attached? %>
                  <% if user == @group.user %>
                    <%= cl_image_tag user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                  <% else %>
                    <%= cl_image_tag user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                  <% end %>
                <% else %>
                  <%= image_tag "unknown-avatar.png", class: "avatar", style: "height: 50px; width: 50px;" %>
                <% end %>
              </div>
              <div class="ms-3 d-flex justify-content-between">
                <div class="mt-1 smaller-text">
                  <%= user == current_user ? "You" : user.first_name %>
                  <%= user == @group.user ? " -   Admin" : "" %>
                </div>
                <% if user != current_user %>
                  <% if Friendship.where('friend_one_id = ? OR friend_two_id = ?', user.id, user.id).select { |f| @my_friendships.include? f }.empty? %>
                    <%= link_to "Add friend", user_friendships_path(current_user, user), method: :post, class: "btn btn-primary btn-sm ml-3 ms-3" %>
                  <% end %>
                  <% if current_user == @group.user %>
                    <%= link_to kick_group_usergroup_path(@group, user), method: :delete, style: "color: red;", class: "ms-3 mt-1" do%>
                      <i class="fas fa-ban"></i>
                    <% end %>
                  <% end %>
                <% end %>
            </h6>
          <% end %>
              </h6>
          <% @pendingusers.each do |user| %>
              <h6 class="m-2 d-flex align-items-center">
                <% if user.user.photo.attached? %>
                  <%= cl_image_tag user.user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                <% else %>
                  <%= image_tag "unknown-avatar.png", class: "avatar", style: "height: 50px; width: 50px;" %>
                <% end %>
                <div class="ms-3 smaller-text"><%= user.user == current_user ? "You" : user.user.first_name %> - pending</div>
                </p>
              </h6>
          <% end %>
        </div>
        <%= simple_form_for @usergroup, url: group_usergroups_path(@group)  do |f| %>
          <div class="form-group text-center">
            <%= f.association :user, collection: current_user.user_group_invites(@group), label_method: :first_name, method: :post, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}}, placeholder: "Add your friends", label: "Select friends to add" %>
          <%= f.submit "Invite Friends", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-xl-8">
      <div class="card-trip px-4 py-3" style="">
        <h3 class="text-center larger-text">Events   <%= link_to new_group_event_path(@group) do  %>
            <i class="fas fa-plus" style="font-size: 22px; color: black;"></i>
            <% end %></h3>
        <div class="row">
          <% @events.each do |event| %>
          <%= link_to group_event_path(event), style: "text-decoration: none; color: white;" do %>
            <div class="card-product mb-4">
              <% if event.event_photo.attached? %>
                <%= cl_image_tag event.event_photo.key %>
              <% else %>
                <img src="<%= asset_path "background.jpg" %>" alt="">
              <% end %>
              <div class="card-product-infos d-flex justify-content-between h-100 w-100">
                <div class="card-name pt-3">
                  <h2 class="larger-text text-black"><%= event.name.capitalize %></h2>
                  <h6 style="color: black;" class="smaller-text"><%= event.location %></h6>
                </div>
                <div class="card-date d-flex align-items-end">
                  <h6 style="color: black;" class="mb-0 smaller-text"><%= event.start_date.strftime("%A, %b %d") %> - <%= event.end_date.strftime("%A, %b %d") %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @events_past.length > 0 %>
      <div class="col-12 col-xl-8 w-100 mt-3">
        <div class="card-trip px-4 py-3" style="">
          <h3 class="text-center larger-text">Past Events</h3>
          <div class="row">
            <% @events_past.each do |event| %>
              <div class="col-12 col-xl-6">
                <%= link_to group_event_path(event), style: "text-decoration: none; color: white;" do %>
                  <div class="card-product justify-content-center rounded mb-1 mt-3" style="height: 120px; background-color: #F4B658;">
                    <div class="card-product-infos text-center">
                      <h2 class="mb-2 smaller-text"><%= event.name.capitalize %></h2>
                      <h6 style="color: white;" class="smaller-text"><%= event.location %></h6>
                      <h6 style="color: white;" class="mb-2 smaller-text"><%= event.start_date.strftime("%A, %b %d")
 %> - <%= event.end_date.strftime("%A, %b %d") %></h6>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<% if @events_past != nil && @events_past.length > 0 %>

<% end %>

<div class="container" data-controller="open-form">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class data-open-form-target="form" class="modal-body">
          <%= render "usergroups/form", usergroup: @usergroup, group: @group%>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class data-open-form-target="form" class="modal-body">
          <%= render "events/form", event: @event, group: @group%>
        </div>
      </div>
    </div>
  </div>
