<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%=image_tag "logo-new.png"%>
    <% end %>
  <h1 class="nav-title">WHERE2</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <p class="nav-link">Hello, <%= current_user.first_name.capitalize %></p>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <button class="btn btn-ghost-nav nav-item mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop" style="font-size: 17px; padding: 0 15px 9px 7px; border: none; border: none; color: rgba(0, 0, 0, 0.85)">Friends</button>
          <li class="nav-item">
            <% if @notification_count %>
              <% if @notification_count > 0 %>
                <%= link_to "#{@notification_count} invitation#{@notification_count == 1 ? "" : "s"}", usergroups_path(current_user), class: "nav-link" %>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @friend_count %>
              <% if @friend_count > 0 %>
                <%= link_to "#{@friend_count} friend request#{@friend_count == 1 ? "" : "s"}", friendships_path, class: "nav-link" %>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "height: 40px; width: 40px;" %>
            <% else %>
              <%= image_tag "logo-new.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Events", event_users_path, class: "dropdown-item" %>
              <%= link_to "Groups", groups_path, class: "dropdown-item" %>
              <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Friends", friendships_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
