<%= simple_form_for([@group, @event]) do |f| %>
<div class="form-group mb-3 mx-5 px-5 my-3">
    <%= f.input :name, class: "form-control", placeholder: "Awesome event" %>
    <%= f.input :location, class: "form-control", placeholder: "Awesome place" %>
    <%= f.input :description, class: "form-control", placeholder: "Awesome thing to do" %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.submit "Create event", class: "btn btn-primary mb-3 w-100" %>
</div>
<% end %>
