<% if @memberids.include? current_user.id %>
  <%= link_to "back to group", group_path(@event.group), class: "btn btn-danger" %>
<% end %>
<h1>Name: <%= @event.name %></h1>
<h2>Location: <%= @event.location %></h2>
<h3>Description: <%= @event.description %></h3>
<p class="mx-3">Admin: <%= @group.user == current_user ? "You" : @group.user.first_name %></p>
<h4>Group Attendees: </h4>
<div class="mx-3">
  <% @users.each do |user| %>
    <p><%= user == current_user ? "You" : user.first_name %></p>
  <% end %>
</div>
<h4>Invited Attendees:</h4>
<div class="mx-3">
  <% @eventusers.each do |user| %>
    <p><%= user.user == current_user ? "You" : user.user.first_name.capitalize %></p>
  <% end %>
</div>
<%= link_to "Add user", new_group_event_event_user_path(@event.group, @event), class: "btn btn-danger" %>
<<<<<<< HEAD


<div class="container chatroom">
  <h1>#<%= @event.name %></h1>

  <div class="messages">
    <% @event.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>@group.name</th>
        </tr>
      </thead>

    </table>
  </div>

</div>
=======
>>>>>>> bb94e6642fbf431bf41f99af0951b1569fa3e106
