<div style="background-image: url(<%= asset_path "group-show-background.jpg" %>); background-position: bottom;" class="background-landing">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <% if @event.event_photo.attached? %>
        <%= cl_image_tag @event.event_photo.key, class: "avatar", style: "height: 170px; width: 200px;" %>
      <% else %>
        <%= image_tag "unknown-avatar.png", class: "avatar", style: "height: 170px; width: 200px;" %>
      <% end %>
    </div>
<<<<<<< HEAD
    <div class="row p-2">
=======
  <div class="row py-3">
    <div class="row p-2 px-3">
>>>>>>> 556b07c0d1b5822de513a74263c7f9e394ccc761
      <div class="card-product infos d-flex flex-column justify-content-center rounded ms-1" style="height: auto; background-color: #F4B658; color: white;">
        <h3 class="mt-3"><%= @event.name %></h1>
        <h5 class="text-center"><%= @event.location %></h5>
        <h6 class="mb-1"><%= @event.description %></h6>
        <h6 class="mb-3 mt-1"><%= @event.start_date %> - <%= @event.end_date %></h6>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12 col-sm-4">
        <div class="chatroom me-5 w-100" data-controller="event-subscription" data-event-subscription-event-id-value="<%= @event.id %>">
          <div style="background-color: #F4F4F4; border: 1px solid black;" class="p-3 mb-3 rounded message-box">
            <div class="messages mb-3" data-event-subscription-target="messages">
              <% @event.messages.last(5).each do |message| %>
                <%= render "messages/message", message: message %>
              <% end %>
            </div>
            </div>
              <%= simple_form_for [@group, @event, @message], remote: true,
              html: {data: {event_subscription_target: "form"}, class: "d-flex"}  do |f| %>
              <%= f.text_field :content,
                label: false,
                class: "w-100",
                placeholder: "Message ##{@event.name}",
                wrapper_html: {class: "flex-grow-1"}
              %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= f.submit "Send", class: "btn btn-primary btn-sm ms-2 send-button" %>
            <% end %>

        </div>
      </div>
      <div class="col-12 col-sm-4 me-0 pe-1 attendees">
        <div class="me-5 p-3 w-100 rounded" style="background-color: #F4F4F4; border: 1px solid black; height: auto;">
            <h4 class="my-3 text-center">Attendees </h4>
          <div class="d-flex flex-column justify-content-between">
            <div style="height: 255px; overflow: scroll;">
              <div class="mx-3">
                <% @users.each do |user| %>
                  <div class="d-flex my-3">
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                    <% end %>
                    <p class="pt-3 ms-3"><%= user == @event.group.user ? "Admin: " : "" %><%= user == current_user ? "You" : user.first_name.capitalize %></p>
                  </div>
                <% end %>
              </div>
              <div class="mx-3">
                <% @eventusers.each do |user| %>
                  <div class="d-flex mt-3">
                    <% if user.user.photo.attached? %>
                      <%= cl_image_tag user.user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                    <% end %>
                    <p class="pt-3 ms-3"><%= user.user == current_user ? "You" : user.user.first_name.capitalize %></p>
                    <% if current_user == @event.group.user %>
                      <%= link_to "Kick", event_user_path(user), method: :delete, class: "btn btn-primary btn-sm mb-2 mt-3 ms-3" %>
                    <% end %>
                  </div>
                <% end %>
                <% @eventusers_pending.each do |user| %>
                  <div class="d-flex mt-3">
                    <% if user.user.photo.attached? %>
                      <%= cl_image_tag user.user.photo.key, class: "avatar", style: "height: 50px; width: 50px;" %>
                    <% end %>
                    <p class="pt-3 ms-3"><%= user.user.first_name.capitalize %> - (pending)</p>
                    <% if current_user == @event.group.user %>
                      <%= link_to "Cancel invite", event_user_path(user), method: :delete, class: "btn btn-primary btn-sm mb-2 mt-3 ms-3" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
            <%= simple_form_for @event_user, url: event_users_path(@event), remote: true do |f| %>
              <div class="form-group text-center mt-4">
                <%= f.association :user, collection: current_user.event_user_invites(@event), label_method: :first_name, method: :post, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}}, placeholder: "Add your friends", label: "Select friends to add" %>
                <%= f.submit "Invite friends", class: "btn btn-primary ml-3 w-100 mb-3" %>
              </div>
            <% end %>
        </div>
          <% if @memberids.include? current_user.id %>
            <div class="me-5 back-button mt-5 pt-5 mb-5">
              <%= link_to "back to group", group_path(@event.group), class: "btn btn-primary"%>
            </div>
          <% end %>
      </div>
      <div class="col-12 col-sm-4 me-0 pe-1">
        <div style="height: 400px;" class="w-100 container"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <% if @event.photos.attached? %>
          <div id="carouselExampleControls" class="carousel slide flex-column mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag @event.photos.first.key, style: "height: auto; width: 100%;", crop: :fill %>
              </div>
              <% @event.photos.each do |photo| %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, style: "height: auto; width: 100%", crop: :fill %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <%= simple_form_for([@event.group, @event], remote: true) do |f| %>
              <div class="form-group mt-4">
                <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                <%= f.submit "Add photos", class: "btn btn-primary mb-3 w-100" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="d-flex flex-column mt-3">
          <%= simple_form_for([@event.group, @event], remote: true) do |f| %>
            <%= f.submit "Add your first photos!", class: "btn btn-primary mb-3 w-100" %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
