  <% if user_signed_in? %>
  <div class="container">
    <h1 class="dash-text">My Dashboard</h1>
   <div class="home-grid">
    <div class="grid-section"></div>
      <div class="grid-section">
        <div class="wrapper">
          <div class="link_wrapper">
            <%= link_to "Groups", groups_path, class: "btn btn-test" %>
            <div class="arrow-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    <div class="grid-section"></div>
     <div class="grid-section">
      <div class="wrapper">
        <div class="link_wrapper">
          <%= link_to "Events", event_users_path, class: "btn btn-test" %>
          <div class="arrow-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
              <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
     <div style="background-image: url(<%= asset_path "home-image.png" %>)" class="home-image"></div>
     <div class="grid-section">
      <div class="wrapper">
        <div class="link_wrapper">
          <%= link_to "Invitation#{@notification_count == 1 ? "" : "s"} (#{@notification_count})", usergroups_path(current_user), class: "btn btn-test" %>
          <div class="arrow-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
              <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
     <div class="grid-section"></div>
     <div class="grid-section">
      <div class="wrapper">
        <div class="link_wrapper">
          <%= link_to "Past Events", events_path, class: "btn btn-test" %>
          <div class="arrow-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
              <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
     <div class="grid-section"></div>
   </div>
   <% else %>
    <div style="background-image: url(<%= asset_path "background.jpg" %>)" class="background-landing">
      <div class="frame">
        <p  class="landing-page-text">At Where2, we have created a new and fun way for you and your friends to connect and organise events. Are you tired of having not having one place where you can organise all your events with your friends, well now you can.  With Where2 you can now organise, plan and search for events in your local area. Planning has never been easier !</p>
        <%= link_to new_user_registration_path do %>
          <div class="button-landing-sign">
            <span style="color: white;">Sign up</span>
            <svg>
            <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
          </svg>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>
