<div class="banner">
    <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));">
    <div class="container">
      <h1 class="dash-title">Looking for an event planner? You've come to the right place!</h1>
      <%# <%= "#{current_user.first_name.capitalize}" %>
      <p class="dash-content">Scroll down for more information</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-3">
      <%= link_to groups_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Groups
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-3">
      <%= link_to event_users_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Events
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-3">
      <%= link_to usergroups_path(current_user) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Invitations
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-3">
      <%= link_to events_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Past Events
        </div>
      <% end %>
    </div>
  </div>
</div>
