<div class="home-page-background-top" style="height: 100%;">
  <% if user_signed_in? %>
    <div class="container pb-5">
      <div class="row mb-5" style="height: 300px;">
        <div class="col-12 d-flex  flex-column justify-content-center">
          <h1 class="dash-text text-center" style="margin: 30px 0 10px 0; text-decoration: none;">Welcome, <%= current_user.first_name.capitalize %></h1>
          <h6 class="landing-page-text text-center" style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cum non et, placeat quidem facilis fugit quaerat ut sapiente. Corporis facere repellat quasi. Officiis repudiandae laborum laudantium ad maxime illo.</h6>
          <% if current_user.groups.empty? %>
            <div class="d-flex justify-content-center">
              <%= link_to "Create your first group", new_group_path, class: "btn btn-ghost w-40" %>
            </div>
          <% else %>
            <div class="d-flex justify-content-center">
              <%= link_to "See your groups", groups_path, class: "btn btn-ghost w-40" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row px-5 d-flex justify-content-center">
        <div class="col-7 d-flex flex-column justify-content-center">
          <%= link_to events_path, style: "text-decoration: none;" do %>
            <div class="card-trip" style="height: 350px;">
              <%= image_tag "background", style: "height: 280px" %>
              <div>
                <h6 class="text-center dash-text" style="margin: 15px 0px 8px 0px; text-decoration: none;">Events</h6>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-5 d-flex flex-column justify-content-center">
          <div>
            <p class="landing-page-text text-start ps-5 pe-0" style="margin: 0px 0px 10px 0px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus temporibus voluptatibus nobis. Velit expedita, modi et numquam voluptatum praesentium corrupti cum quos tempore autem dolorum molestias sapiente impedit culpa!</p>
          </div>
        </div>
      </div>
      <div class="row px-5 mt-5 d-flex justify-content-center">
        <div class="col-5 d-flex flex-column justify-content-center">
          <div>
            <p class="landing-page-text text-start ps-5 pe-0" style="margin: 0px 0px 10px 0px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus temporibus voluptatibus nobis. Velit expedita, modi et numquam voluptatum praesentium corrupti cum quos tempore autem dolorum molestias sapiente impedit culpa!</p>
          </div>
        </div>
        <div class="col-7 d-flex flex-column justify-content-center">
          <%= link_to  groups_path, style: "text-decoration: none;" do %>
            <div class="card-trip" style="height: 350px;">
              <%= image_tag "background", style: "height: 280px" %>
              <div>
                <h6 class="text-center dash-text" style="margin: 15px 0px 8px 0px; text-decoration: none;">Groups</h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row px-5 mt-5 d-flex justify-content-center">
        <div class="col-7 d-flex flex-column justify-content-center">
          <%= link_to events_path, style: "text-decoration: none;" do %>
            <div class="card-trip" style="height: 350px;">
              <%= image_tag "background", style: "height: 280px" %>
              <div>
                <h6 class="text-center dash-text" style="margin: 15px 0px 8px 0px; text-decoration: none;">Invitations</h6>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-5 d-flex flex-column justify-content-center">
          <div>
            <p class="landing-page-text text-start ps-5 pe-0" style="margin: 0px 0px 10px 0px">Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus temporibus voluptatibus nobis. Velit expedita, modi et numquam voluptatum praesentium corrupti cum quos tempore autem dolorum molestias sapiente impedit culpa!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
   <% else %>
    <div style="background-image: url(<%= asset_path "background.jpg" %>)" class="background-landing">
      <div class="frame">
        <p  class="landing-page-text">At Where2, we have created a new and fun way for you and your friends to connect and organise events. Are you tired of having not having one place where you can organise all your events with your friends, well now you can.  With Where2 you can now organise, plan and search for events in your local area. Planning has never been easier !</p>
        <%= link_to new_user_registration_path do %>
          <div class="button-landing-sign">
            <span style="color: white;">Sign up</span>
            <svg>
            <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
          </svg>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

 </div>
