<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to "groups", groups_path, class: "btn btn-danger" %>
  <%= link_to "invitations", usergroups_path(current_user), class: "btn btn-danger" %>
<% end %>


    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">My Events</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Groups</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My Invites</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="container pb-4 pt-1">
        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/Users/vivek/Downloads/vecteezy_football-player-character-collection_2181306/Vecteezy-UEFA-Character-R031821_generated.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
  </div>
<div style="background-image: url(<%= asset_path "background.jpg" %>)" class="background-landing">
  <% if user_signed_in? %>
    <%= link_to "groups", groups_path, class: "btn btn-danger" %>
    <%= link_to "invitations", usergroups_path(current_user), class: "btn btn-danger" %>
  <% end %>
</div>
