  <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="dash-text text-center mt-5 me-5 pe-5" style="margin-bottom: 25px;">Upcoming</h3>
            <% @events.each do |event| %>
              <%= link_to group_event_path(event, event.group.id), style: "text-decoration: none; color: white; font-weight: bold; font-size: 15px;" do %>
                <div class="card-trip p-3 d-flex justify-content-between mt-3" style="border-radius: 3px; background-color: #F4B658;">
                  <h6 style="text-decoration: none; color: white;" class="mt-1"><%= event.name %> - Group: <%= event.group.name %></h6>
                  <p style="color: white; font-weight: bold;" class="mt-1"><%= event.start_date %> - <%= event.end_date %></p>
                </div>
              <% end %>
            <% end %>
        </div>
        <div class="col ms-5">
          <div class="d-flex justify-content-center" style="margin-right: 113px; padding: 0;">
            <div style="background-image: url(/assets/home-image-3a30c4becb09ace160686b8d3af9cfe73b9b6056cfdd8b3aca67737a4363314d.png);" class="home-image justify-content-center"></div>
          </div>
          <div class="d-flex flex-wrap">
            <div class="link_wrapper col-6 mb-5">
              <%= link_to "Groups", groups_path, class: "btn btn-test" %>
            </div>
            <div class="link_wrapper col-6 mb-5">
              <%= link_to "Events", event_users_path, class: "btn btn-test" %>
            </div>
            <div class="link_wrapper col-6">
              <%= link_to "Invitation#{@notification_count == 1 ? "" : "s"} (#{@notification_count})", usergroups_path(current_user), class: "btn btn-test" %>
            </div>
            <div class="link_wrapper col-6">
              <%= link_to "Past Events", events_path, class: "btn btn-test" %>
            </div>
          </div>
        </div>
      </div>
   <% else %>
    <div style="background-image: url(<%= image_tag "background.jpg" %>)" class="background-landing">
      <div class="frame">
        <p  class="landing-page-text">At Where2, we have created a new and fun way for you and your friends to connect and organise events. Are you tired of having not having one place where you can organise all your events with your friends, well now you can.  With Where2 you can now organise, plan and search for events in your local area. Planning has never been easier !</p>
        <%= link_to new_user_registration_path do %>
          <div class="button-landing-sign">
            <span style="color: white;">Sign up</span>
            <svg>
            <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
          </svg>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
